uvicorn>=0.16.0,<0.18.0
fastapi>=0.64.0,<1.0.0
python-multipart>=0.0.5,<0.1.0
pydantic==1.10.8

scikit-learn==1.2.2

# testing requirements
pytest>=6.2.3,<6.3.0
requests>=2.23.0,<2.24.0


# After uploding your package in PyPi use the given below
#bikeshare-model==0.0.1

# If locally copyied whl file inside bikeshare_model_api then use given below
bikeshare_model-0.0.1-py3-none-any.whl

prometheus-client